<div class="d-flex">
  <div>
    <h2 class="col-6">
      Have a look into our <strong>celebrities</strong> database or create a new
      entry
    </h2>
  </div>
  <div class="col-3 d-flex flex-column">
    <button class="btn btn-block btn-dark">
      <a href="/celebrities/create">Create a new Celebrity</a>
    </button>
    <button class="btn btn-block btn-dark">
      <a href="/celebrities">All the celebrities</a>
    </button>
  </div>
</div>
<hr />
<div class="d-flex">
  <div>
    <h2 class="col-6">
      Have a look into our <strong>movies</strong> database or create a new
      entry
    </h2>
  </div>
  <div class="col-3 d-flex flex-column">
    <button class="btn btn-block btn-dark">
      <a href="/movies/create">Create a new Movie</a>
    </button>
    <button class="btn btn-block btn-dark">
      <a href="/movies">All the movies</a>
    </button>
  </div>
</div>
