<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div class="container">
    <button class="btn btn-large btn-dark">
        <a href="/celebrities/create">Create a new Celebrity</a>
    </button>
    <button class="btn btn-large btn-dark">
        <a href="/celebrities">All the celebrities</a>
    </button>
</div>
<hr>
<div class="container">
    <button class="btn btn-large btn-dark">
        <a href="/movies/create">Create a new Movie</a>
    </button>
    <button class="btn btn-large btn-dark">
        <a href="/movies">All the movies</a>
    </button>
</div>
